
.header {
  overflow: hidden;
  background-color: #8b138b;
  padding: 30px;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.lgnbutton{
	background-color: #ce1cce;
	border-radius: 5px;
	padding: 5px;
	width: 100px;
	color: white;
	float: right;	
}
img{
	margin: 50px;
	
}
button{
	background-color: #8b138b;
	color: white;
	padding: 35px;
	margin-left: 80px;
	margin-right: 50px;

	
}